/* CUSTOM ACCENT COLORS -------------------------------------------------------------------------------------- */
/* change the hex value of --custom-accent-color */

:root {
    --custom-accent-color: #0a84ff;
}

:root {
    --lwt-toolbarbutton-icon-fill-attention: var(--custom-accent-color) !important;
    --button-primary-bgcolor: var(--custom-accent-color) !important;
    --button-primary-hover-bgcolor: color-mix(in srgb, white 50%, var(--custom-accent-color)) !important;
    --button-primary-active-bgcolor: color-mix(in srgb, white 65%, var(--custom-accent-color)) !important;
    /* --button-primary-color: var(--custom-button-text-color) !important; */
}

.urlbarView-url { color: var(--custom-accent-color) !important; }
:root {
  --buttons-primary-button-bgcolor: var(--custom-accent-color) !important;
  --buttons-primary-button-hover-bgcolor: color-mix(in srgb, white 50%, var(--custom-accent-color)) !important;
  --buttons-primary-button-active-bgcolor: color-mix(in srgb, white 65%, var(--custom-accent-color)) !important;
  --checkbox-checked-bgcolor: var(--custom-accent-color) !important;
  --checkbox-checked-hover-bgcolor: color-mix(in srgb, white 50%, var(--custom-accent-color)) !important;
  --checkbox-checked-active-bgcolor: color-mix(in srgb, white 65%, var(--custom-accent-color)) !important;
  --lwt-brighttext-url-color: var(--custom-accent-color) !important;
  --lwt-popup-brighttext-url-color: var(--custom-accent-color) !important;
  --focus-outline-color: var(--custom-accent-color) !important;
  /*Star Highlight & Download Finished*/
  --lwt-toolbarbutton-icon-fill-attention: var(--custom-accent-color) !important;
}

/* colors various popup windows (e.g. edit bookmarks, close window menus) */
@-moz-document regexp("^(about:|chrome:|moz-extension:).*") {
  html:not([role="dialog"]),
  html:not([role="dialog"]) *,
  html:not([role="dialog"]) body.activity-stream,
  window:not([chromehidden]),
  window:not([chromehidden]) > dialog
  {
    --in-content-primary-button-background: var(--custom-accent-color) !important;
    --in-content-primary-button-background-hover: color-mix(in srgb, white 50%, var(--custom-accent-color)) !important;
    --in-content-primary-button-background-active: color-mix(in srgb, white 65%, var(--custom-accent-color)) !important;
  }
}




/* TAB BAR ------------------------------------------------------------------------------------------------- */

/* sets the height of the tab toolbar
otherwise will change height when tabs overflow */
#TabsToolbar {height: 33px !important;}
:root{
  --tab-min-height: 33px !important;
}


/* Reduce left spacer on tab bar */
.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}


@media (-moz-proton){
  /* Tab - Connect to window */
  .tab-background {
    border-radius: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .tab-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .tab-stack {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }


  /* adds the little colored strip on top of the selected tab */
  .tab-background:is([selected],[multiselected]) {
	  box-shadow: inset 0 2px var(--custom-accent-color) !important;
  }


  /* make context line (from container tabs) visible */
  .tabbrowser-tab[selected] .tab-context-line {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
  }



  /* neighbouring tabs should "pinch" together */
  .tabbrowser-tab {padding-inline: 0 !important;}


  /* Unselected Tab - Divide line */
  .tab-content::before,
  .tab-content::after {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    background-color: #535354 !important;
    width: 1px !important;
    height: 40px !important;
    transform: translateY(-20px) !important;
    opacity: 0 !important;
    transition: opacity 1s var(--ease-basic) !important;
  }
  .tab-content::before {left: 0 !important;}
  .tab-content::after {right: 0 !important;}

  .tabbrowser-tab[visuallyselected][style*=transform] + .tabbrowser-tab[style*=transform] .tab-content::after,
  .tabbrowser-tab[style*=transform]:not([visuallyselected]) .tab-content::before,
  .tabbrowser-tab[style*=transform] + .tabbrowser-tab:not([visuallyselected]) .tab-content::before,
  .tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) + .tabbrowser-tab:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::before,
  #tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not(:hover):not([multiselected]) .tab-content::after
  {
    opacity: var(--tab-separator-opacity) !important;
  }
} 
   




/* NAV BAR ---------------------------------------------------------------------------------------------------- */

/* reduce height of navbar/urlbar to remove unnecessary white space
and more closely match the height of quantum's compact density */
#nav-bar {height: 35px !important}
#search-container {height: 35px !important; padding-top: 0!important;}


:root{
  /* reduce padding between menu items */
  --arrowpanel-menuitem-padding: 6px 8px !important;
  --arrowpanel-menuitem-margin: 0 4px !important;
  --panel-subview-body-padding: 4px 0 !important;


  /* square the off most of the UI (selection buttons on hover, context menus, hamburger menus, etc) */
  --toolbarbutton-border-radius: 0 !important;
  --arrowpanel-menuitem-border-radius: 0 !important;
  --arrowpanel-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --subviewbutton-border-radius: 0 !important;
}


/* squares the profile picture on toolbar if logged into sync */
#fxa-avatar-image {border-radius: 0 !important;}





/* SUB MENUS --------------------------------------------------------------------------------------------- */

/* removes the rounded corners from (bookmarks) menu */
.menupopup-arrowscrollbox, .panel-arrowcontainer, .panel-arrowbox, .panel-arrowscrollbox, menupopup {
  border-radius: 0 !important;
}


/* removes rounded corner from selection box in side bookmarks menu */
menupopup menuitem, menupopup menu {border-radius: 0 !important;}


/* square input fields in the edit bookmarks menu */
#editBMPanel_namePicker {border-radius: 0 !important;}
#editBMPanel_folderMenuList {border-radius: 0 !important;}
#editBMPanel_tagsField {border-radius: 0 !important;}
#editBMPanel_locationField {border-radius: 0 !important;}
#editBMPanel_keywordField {border-radius: 0 !important;}


/* square off aspects of the download menu (i.e. selection boxes, open in folder button) */
.download-state, .downloadButton {border-radius: 0 !important;}

.downloadProgress {
  border-radius: 0 !important;
  overflow: hidden !important;
}

.downloadProgress[paused] {
  border-radius: 0 !important;
}

.downloadProgress:not([value="0"])::-moz-progress-bar {
  border-radius: 0 !important;
}

.downloadProgress::-moz-progress-bar {
  border-radius: 0 !important;
}

.downloadProgress[paused]::-moz-progress-bar {
  border-radius: 0 !important;
}


/* square off the toggle switch for "enhanced tracking protection" */
.protections-popup-tp-switch, .protections-popup-tp-switch::before {border-radius: 0 !important;}


/* square the permissions popup (e.g. autoplay blocked) */
#permission-popup-menulist {border-radius: 0 !important;}

/* square permission popups for webRTC (screen sharing and voice) */
#webRTC-selectMicrophone-menulist {border-radius: 0 !important;}
#webRTC-selectWindow-menulist {border-radius: 0 !important;}
#webRTC-previewVideo {border-radius: 0 !important;}


/* square the fullscreen and zoom reset */
#appMenu-zoomReset-button2 > .toolbarbutton-text,
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
  border-radius: 0 !important;
}




/* MISC ITEMS ------------------------------------------------------------------------------------------- */

/* square "close tabs and quit" window and buttons (and prob other dialog boxes) */
.dialogBox {border-radius: 0 !important;}
button {border-radius: 0 !important;}


/* square checkboxes */
.checkbox-check {border-radius: 0 !important;}
#checkbox {border-radius: 0 !important;}


/* square dropdown selection boxes */
select {border-radius: 0 !important;}


/* square selections, checkboxes, and nav buttons on the print page */
.toggle-group-label {border-radius: 0 !important;} 
.photon-number {border-radius: 0 !important;}
#headers-footers-enabled {border-radius: 0 !important;}
#backgrounds-enabled {border-radius: 0 !important;}
.toolbarButton:not(:hover) {background-color: #2b2a33 !important;}


/* tooltips */
/* disabled for now, not all tooltips can be changed with css */
/* see https://old.reddit.com/r/FirefoxCSS/comments/dwpykf/problems_with_styling_tooltips/f80dnv8/ */
/* #tabbrowser-tab-tooltip,
#btTooltip,
#un-toolbar-tooltip,
#tooltip,
.tooltip,
#aHTMLTooltip,
#urlTooltip,
#bhTooltip,
.places-tooltip-box,
.tooltip-label,
tooltip {
	-moz-appearance: none !important;
	border-radius: 0 !important;
} */


/* autosave password notification input fields */
#password-notification-username {border-radius: 0 !important;}
#password-notification-password {border-radius: 0 !important;}


/* searchbox and buttons in find bar (ctrl+F) */
.findbar-textbox {border-radius: 0 !important;}
toolbarbutton {border-radius: 0 !important;}



/* certain new folder and login field popup dialogs */
#loginTextbox {border-radius: 0 !important;}
#password1Textbox {border-radius: 0 !important;}


/* density options in "Customize Toolbar" */
#customization-uidensity-menuitem-compact {border-radius: 0 !important;}
#customization-uidensity-menuitem-normal {border-radius: 0 !important;}
#customization-uidensity-menuitem-touch {border-radius: 0 !important;}


/* square popup when entering full screen video */
#fullscreen-warning {border-radius: 0 !important;}


/* square dismissable "show me how" notification messages */
notification-message {border-radius: 0 !important;}
.animated {border-radius: 0 !important;}
.infobar {border-radius: 0 !important;}


/* TODO --------------------------------------------------------------------------------------------- */
/* +/- buttons for zoom in appmenu */

/* radio buttons maybe? */
/* input[type="radio"], input[type="radio"]:checked {border-radius: 0 !important;}
radio buttons use background-image: url("chrome://global/skin/icons/radio.svg");
need to replace with square
*/

/* export buttons in about:certificates */
