
/* NEW TAB PAGE ---------------------------------------------------------------------------------------------- */

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    /* square the search box  corners */
    body .search-handoff-button {border-radius: 0 !important;}


    /* square the settings button and checkboxes / buttons / selectors inside its menu */
    .personalize-button {border-radius: 0 !important;}
    .close-button {border-radius: 0 !important;}
    .selector {border-radius: 0 !important;}
    .sponsored-checkbox{
      border-radius: 0 !important;
      /* padding: 4px   !important;
      border: 4px   !important; */
    }
    /* square the toggle button for above */
    .slider {border-radius: 0 !important;}
    .slider::before {border-radius: 0 !important;}



    /* square all the 3 dot menus */
    .context-menu-button {border-radius: 0 !important;}
    .context-menu {border-radius: 0 !important;}
    

    /* square the shortcuts: icons, background, and selection box */
    .tile {border-radius: 0 !important;}
    .top-site-icon {border-radius: 0 !important;}
    .icon-wrapper {border-radius: 0 !important;}
    .top-site-outer {border-radius: 0 !important;}


    /* square the "suggested by pocket" cards and images */
    .ds-card {border-radius: 0 !important;}
    img {border-radius: 0px !important;}
    

    /* square all the recent activity cards and images */
    .card-outer {border-radius: 0 !important;}
    .card-preview-image-outer {border-radius: 0 !important;}
}






/* SETTINGS PAGE ------------------------------------------------------------------------------------------- */

@-moz-document url(about:preferences), url(about:preferences#general), url(about:preferences#home),
url(about:preferences#search), url(about:preferences#privacy), url(about:preferences#sync), url(about:addons){
  /* square checkboxes */
  .checkbox-check {border-radius: 0 !important;}


  /* square search box */
  search-textbox {border-radius: 0 !important;}


  /* square selection buttons */
  button {border-radius: 0 !important;}
  richlistitem {border-radius: 0 !important;}
  menulist {border-radius: 0 !important;}
  .sidebar-footer-link {border-radius: 0 !important;}


  /* square search engines table on about:preferences#search page */
  #engineList {border-radius: 0 !important;}


  /* Tracking Protection options on about:preferences#privacy page */
  .content-blocking-category {border-radius: 0 !important;}
  .content-blocking-warning {border-radius: 0 !important;}


  /* infobox for settings required by addon (i.e. container tabs) */
  #browserContainersExtensionContent {border-radius: 0 !important;}


  /* folder selection and table for Files and Applications */
  #downloadFolder {border-radius: 0 !important;}
  listheader {border-radius: 0 !important;}
  #handlersView {border-radius: 0 !important;}


  /* input and info boxes on sync page */
  #fxaSyncComputerName {border-radius: 0 !important;}
  .sync-configured {border-radius: 0 !important;}
}





/* ADDONS PAGE --------------------------------------------------------------------------------------------- */

@-moz-document url(about:addons) {
  /* square search box */
  search-textbox {border-radius: 0 !important;}

  /* square the context menus (3 dots and settings gear) */
  panel-list {border-radius: 0 !important;}


  /* square the info boxes / banners */
  .discopane-notice {border-radius: 0 !important;}
  .container {border-radius: 0 !important;}


  /* square the addons and theme cards */
  .card-heading-image {border-radius: 0 !important;}
  .card {border-radius: 0 !important;}


  /* square selection buttons */
  button {border-radius: 0 !important;}
  richlistitem {border-radius: 0 !important;}
  menulist {border-radius: 0 !important;}
  .sidebar-footer-link {border-radius: 0 !important;}


  /* square toggle buttons */
  .toggle-button, .toggle-button::before {border-radius: 0 !important;}


  /* square radio buttons - WIP */
  /* input[type="radio"], input[type="radio"]:checked {border-radius: 0 !important;} */
}




/* ABOUT CONFIG PAGE ---------------------------------------------------------------------------------------- */

@-moz-document url(about:config) {
  /* square everything except radio buttons */
  #about-config-search {border-radius: 0 !important;}
  #about-config-show-only-modified {border-radius: 0 !important;}
  #showWarningNextTime {border-radius: 0 !important;}
  button {border-radius: 0 !important;}
}


/* DOWNLOADS ------------------------------------------------------------------------------------------------ */

@-moz-document url(about:downloads) {
  /* square buttons and boxes*/
  .button-box {border-radius: 0 !important;}
  richlistbox {border-radius: 0 !important;}
}




/* OTHER INTERNAL PAGES ------------------------------------------------------------------------------------- */

@-moz-document url(about:compat), url(about:crashes), url(about:debugging), 
url(about:debugging#/setup), url(about:debugging#/runtime/this-firefox), url(about:devtools), 
 url(about:logins), url(about:networking), url(about:policies), url(about:profiles),
url(about:profiling), url(about:protections), url(about:serviceworkers), url(about:studies), 
url(about:support), url(about:telemetry), url(about:url-classifier), url(about:webrtc), url(about:welcome) {
  *{border-radius: 0 !important;}
}