#navigator-toolbox:has(#bookmarksMenuPopup>menu[label="!appmode"]>menupopup>menu[label="!current"]:nth-child(2)) {
  border: none !important;

  #nav-bar {
    display: none !important;
  }

  #PersonalToolbar {
    display: none !important;
  }

  #TabsToolbar>.toolbar-items {
    visibility: hidden !important;
  }

  &:not(:has(>#toolbar-menubar[inactive])) {
    #TabsToolbar {
      display: none !important;
    }
  }
}

#bookmarksMenuPopup>menu[label="!appmode"] {
  &>.menu-icon {
    list-style-image: url("chrome://browser/skin/window.svg");
  }

  &>.menu-text {
    &::before {
      display: none;
    }

    &::after {
      content: 'App Mode';
    }
  }

  &>menupopup {
    &>menu[label="!current"] {
      &>.menu-icon {
        display: none;
      }

      &>.menu-text {
        &::before {
          display: none;
        }

        &::after {
          content: 'On';
        }
      }

      &::after {
        display: none !important;
      }

      &>menupopup {
        display: none;
      }
    }

    &>menuseparator:not([hidden])+menu[label="!current"]>.menu-text::after {
      content: 'Off';
    }
  }
}
